.custom-card {
    position: relative;
    transition: 0.25s all ease;
    z-index: 5;
}

.custom-card .triangle {
    top: -13px;
    left: -50px;
    width: 0;
    height: 0;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
    border-bottom: 75px solid #056799;
    transform: rotate( -45deg );
}

.custom-card .icon-container {
    top: 0.75rem;
    left: 0.75rem;
}

.custom-card:hover {
    transform: scale(1.05);
    transition: 0.25s all ease;
}

@media (min-width: 1200px) {
    .custom-card {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}