#table table tbody tr:hover {
    /* background-color: rgb(225, 245, 255); */
    
    background-color: #aaebaa;
}

#table .edit-item,
#table .delete-item,
#historiaClinicaEdit,
#historiaClinicaDelete {
    color: #6c757d;
    transition: all 0.15s;
}

#table .edit-item:hover,
#historiaClinicaEdit:hover {
    color: #007bff;
}

#table .delete-item:hover,
#historiaClinicaDelete:hover {
    color: #dc3545;
}