#filters select {
    padding: 0.1rem 0.5rem;
    border: 1px solid #777;
    border-radius: 0.25rem;
}

#filters select:focus {
    outline: none;
    border: 1px solid #056799;
    transition: 0.25s all ease;
}

#filters select:focus + .custom-arrow {
    outline: none;
    background-color: #056799;
    border-top: 1px solid #056799;
    border-right: 1px solid #056799;
    border-bottom: 1px solid #056799;
    transition: 0.25s all ease;
}

#filters .custom-arrow {
    display: block;
    top: 0;
    right: 0;
    background-color: #777;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: 1px solid #777;
    width: 1.25rem;
    pointer-events: none;
    transition: 0.25s all ease;
}

#filters .custom-arrow::before,
#filters .custom-arrow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filters .custom-arrow::before {
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-bottom: 0.35rem solid #fff;
    top: 35%;
    transition: 0.25s all ease;
}

#filters .custom-arrow::after {
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-top: 0.35rem solid #fff;
    top: 65%;
    transition: 0.25s all ease;
}

#filters #searchContainer input {
    border-radius: 1rem;
    border: 1px solid #777;
    padding: 0.25rem 1rem;
    transition: 0.25s all ease;
}

#filters #searchContainer input:focus-visible {
    outline: none;
    border: 1px solid #056799;
    transition: 0.25s all ease;
}

#filters #searchContainer .position-absolute {
    cursor: auto;
    top: 50%;
    right: 0.35rem;
    transform: translate(-50%, -50%);
    transition: 0.25s all ease;
}


#filters #searchContainer input:focus-visible ~ .position-absolute {
    color: #056799;
    transition: 0.25s all ease;
}