#agenda #tipoTab :nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#agenda #tipoTab :nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

#agenda button:focus {
    outline: none;
    box-shadow: none;
}

#agenda #checkboxs label {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin-right: 1rem;
    cursor: pointer;
}

#agenda .react-calendar .react-calendar__tile {
    pointer-events: none;
    cursor: default;
}

#agenda #díasLista,
#agenda #horariosLista {
    height: 400px;
    overflow-y: scroll;
}

#agenda #díasLista .item:hover,
#agenda #horariosLista .item:hover {
    background-color: #7dc97d;
}

#agenda #díasLista .item.selected {
    background-color: #139c13;
    color: #fff;
}