/* Calendar */
.react-calendar {
    background: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 50%;
}

.react-calendar .react-calendar__navigation {
    display: flex;
    justify-content: space-around;
}

.react-calendar .react-calendar__navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1.25rem;
    text-transform: capitalize;
}

.react-calendar .react-calendar__navigation button:nth-child(1),
.react-calendar .react-calendar__navigation button:nth-child(5) {
    display: none;
}

.react-calendar .react-calendar__navigation button:nth-child(3) {
    flex-grow: 0!important;
}

/* Labels del calendario */
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__weekdays {
    color: #000;
    text-align: center;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    text-transform: capitalize;
}

/* Dias */
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day {
    border: none;
    background: transparent;
    position: relative;
    overflow: unset;
    padding: 0.25rem 0;
}

/* Meses */
.react-calendar .react-calendar__year-view__months {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.react-calendar .react-calendar__year-view__months .react-calendar__year-view__months__month {
    border: none;
    background: transparent;
    position: relative;
    padding: 0.25rem 0;
    text-transform: capitalize;
}

/* Underline */
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day::after,
.react-calendar .react-calendar__year-view__months .react-calendar__year-view__months__month::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    border-radius: 4px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day::after,
.react-calendar .react-calendar__year-view__months .react-calendar__year-view__months__month::after {
    background: #056799;
}

/* Hover */
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day:hover::after,
.react-calendar .react-calendar__year-view__months .react-calendar__year-view__months__month:hover::after {
    width: 25%;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day:hover::after {
    width: 25%;
    left: calc((100% - 25%) / 2);
}

.react-calendar .react-calendar__year-view__months .react-calendar__year-view__months__month:hover::after {
    width: 40%;
    left: calc((100% - 40%) / 2);
}

/* Active */
#turnos .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__tile--active::after,
#turnos .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__tile--active:hover::after,
#pageAdminTurnos .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__tile--active::after,
#pageAdminTurnos .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__tile--active:hover::after {
    border: 2px solid #28a745;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    top: calc((100% - 30px + 1px) / 2);
    left: calc((100% - 30px + 1px) / 2);
    transition: none;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--weekend {
    cursor: default;
    pointer-events: none;
}

.react-calendar .react-calendar__tile--active .react-calendar__month-view__days__day--neighboringMonth::after,
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--weekend::after {
    width: 0;
    transition: none;
    border: none;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--weekend abbr,
.react-calendar .react-calendar__month-view__days__day--neighboringMonth abbr {
    color: rgba(16, 16, 16, 0.302);
    pointer-events: none;
    cursor: default;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day[disabled]::after,
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day[disabled]:hover::after,
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--neighboringMonth::after,
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--neighboringMonth:hover::after {
    width: 0;
    transition: none;
    border: none;
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days .react-calendar__month-view__days__day--neighboringMonth {
    cursor: default;
    pointer-events: none;
}


/* Modal Add */
#modalAdd .react-calendar {
    width: 100%;
    margin: 0 auto;
}

#modalAdd .react-calendar .react-calendar__navigation .react-calendar__navigation__label__labelText--from {
    font-size: 1.25rem!important;
}
