#turnos {
    /* background: url('../../components/assets/img/Turnos_background.jpg') no-repeat center center/cover; */

    overflow-x: hidden;
}

#turnos p {
    font-size: 20px;
}

#turnos .medicosMessage p {
    font-size: 16px;
}

#turnos #steps .step-container {
    transition: transform 1s;
}

#turnos #steps .steps {
    min-width: 100%;
}

#turnos .circle {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in;
}

#turnos #progressBarContainer .position-absolute {
    background-color: rgb(19, 156, 19);
    color: #fff;
    font-weight: bold;
    position: relative;
    height: 100%;
    width: 20%;
    position: relative;
    z-index: 0;
}

#turnos #progressBarContainer .position-absolute .triangle {
    position: absolute;
    right: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(19, 156, 19);
}

#turnos #progressBarContainer #progressBar .active h5 {
    font-weight: bold!important;
    z-index: 2;
}

#turnos #especialistas {
    overflow-y: scroll;
}

#turnos #especialistas .item p {
    pointer-events: none;
}

#turnos #especialistas .item:hover {
    background-color: rgba(43, 102, 179, 0.5);
}

#turnos #especialistas .item:hover {
    background-color: rgb(225, 245, 255);
}
