#sideNav {
    position: sticky;
    top: 0;
    /* min-height: 100vh; */
    min-height: 103vh;
    box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.15);
    z-index: 10;
}

#sideNav .nav-container {
    min-height: calc(100vh - 100px - 2.5rem - 2.5rem);
}

#sideNav .nav-item {
    transition: all 0.3s ease;
}

#sideNav .nav-item.active {
    background: #f5f5f5;
    color: #000!important;
}

#sideNav .active svg {
    color: #000!important;
}

#sideNav .nav-item:hover {
    background: #ddd;
    color: #000!important;
    transition: all 0.3s ease;
}

#sideNav .nav-item:hover svg {
    color: #000!important;
    transition: all 0.3s ease;
}