#adminPage a {
    width: auto;
}

#pageAdminPacientes svg,
#pageAdminMedicos svg {
    cursor: pointer;
}

#modalAdd .modal-dialog.modal-dialog-centered,
#modalEdit .modal-dialog.modal-dialog-centered {
    max-width: 992px!important;
    margin: 1.5rem;
}

#modalAdd input:focus,
#modalAdd select:focus,
#modalEdit input:focus,
#modalEdit select:focus {
    box-shadow: 0 0 0 0.25rem rgba(5, 103, 153, 0.25)!important;
}

#modalAdd .custom-arrow,
#modalEdit .custom-arrow {
    top: calc((100% - 0.25rem) / 2);
    right: 1rem;
    z-index: 1;
    border: none!important;
    pointer-events: none;
    transition: 0.25s all ease;
}

#modalAdd .custom-arrow::before,
#modalAdd .custom-arrow::after,
#modalEdit .custom-arrow::before,
#modalEdit .custom-arrow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}


#modalAdd .custom-arrow::before,
#modalEdit .custom-arrow::before {
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-bottom: 0.35rem solid #333;
    top: 35%;
    transition: 0.25s all ease;
}

#modalAdd .custom-arrow::after,
#modalEdit .custom-arrow::after {
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-top: 0.35rem solid #333;
    top: 65%;
    transition: 0.25s all ease;
}

@media (min-width: 992px) {
    #modalAdd .modal-dialog.modal-dialog-centered,
    #modalEdit .modal-dialog.modal-dialog-centered {
        margin: 1.5rem auto;
    }
}

@media (min-width: 1200px) {
    #adminPage .custom-card {
        min-width: 400px;
        max-width: 400px;
    }
}
