#modalAdd #profesionales,
#modalAdd #pacientes {
    overflow-y: scroll;
    top: 62px!important;
    left: 12px!important;
    min-width: calc(100% - 24px)!important;
    min-height: 41px;
    z-index: 2;
}

#modalAdd #profesionales .item p,
#modalAdd #pacientes .item p {
    pointer-events: none;
}

#modalAdd #profesionales .item:hover,
#modalAdd #pacientes .item:hover {
    background-color: #7dc97d;
}

#modalAdd #horas button {
    min-width: 75px;
    background: #fff;
    color: #212529;
}

#modalAdd #horas button:hover {
    background-color: #7dc97d;
}

#modalAdd #horas button.selected {
    background-color: #139c13;
    color: #fff;
}

#modalAdd #horas button:disabled {
    background-color: #e0e0e0;
    color: #212529;
}

#modalAdd #calendarContainer.disabled,
#modalAdd #horaContainer.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed!important;
}