#banner {
    background: url( './img/img1.avif' ) no-repeat center center/cover;
    min-height: calc(100vh - 118px);
}

.banner-overlay {
    background: linear-gradient(90deg, rgba(5, 103, 153, 1) 20%, rgba(5, 103, 153, 0.7) 80%, rgba(5, 103, 153, 0.333) 100%);
    min-height: calc(100vh - 118px);
}

h1 {
    padding-top: 15rem;
}

#banner .btn.border.border-light:hover {
    background-color: #fff;
    color: #056799!important;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }
}