/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Nunito:wght@300;400&family=Open+Sans:wght@300;400&display=swap');


a { text-decoration: none; }

/* Font Family */
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }
a, p, label, input, button { font-family: 'Nunito', sans-serif; }


/* Text Color */
.text-primary { color: #ade8f4!important; }
.text-secondary { color: #056799!important; }
.text-darker { color: #023E8A!important; }


/* Background Color */
.bg-primary { background-color: #ade8f4!important; }
.bg-secondary { background-color: #056799!important; }
.bg-darker { background-color: #023E8A!important; }
.bg-light-gray { background-color: #dddddd!important; }


/* Border Color */
.border-primary { border: 1px solid #ade8f4 !important; }
.border-secondary { border: 1px solid #056799 !important; }


/* Box Shadow */
.box-shadow-dark { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25)!important; }

/* Text Shadow */
.text-shadow-dark { text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }

.form-control:focus {
    border-color: 0;
    box-shadow: none;
}

/* Login Page */
#loginPage,
#registerPage {
    background: url( './components/assets/img/Login_background.avif' ) no-repeat center center/cover;
    min-height: calc(100vh - 118px);
}

.blue-overlay {
    background: rgba(0 , 119, 182, 0.6);
    min-height: calc(100vh - 118px);
}

#loginPage #loginForm,
#registerPage #registerForm {
    background: rgba(255, 255, 255, 0.7);
}