.icon-component input:focus {
	border: 1px solid #056799!important;
	border-radius: 0.5rem;
}

.icon-component svg {
    position: absolute;
    top: calc((100% - 16px) / 2);
    right: 1rem;
    max-height: 20px;
    pointer-events: none;
}

.form-floating textarea:focus {
    border: 1px solid #056799!important;
}