#pagination .pagination-item {
    height: 30px;
    width: 30px;
    background: #aaa;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

#pagination .pagination-item.disabled {
    border: 1px solid #dee2e6!important;
    cursor: default;
}

#pagination .pagination-item.disabled svg {
    color: #dee2e6!important;
}